<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact management application</title>
    <link rel="stylesheet" href="./assets/stylesheets/marionette.css" />
    <script src="./assets/components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="small-6 columns small-centered"><h1>Contact manager</h1></div>
    </div>
    <div class="row">
      <div class="small-6 columns small-centered" id='info-region'></div>
    </div>
    <div class="row">
      <div class="small-6 columns small-centered" id='main-region'>
        <p>You'll notice that it gets replaced by our app as soon as we start it.</p>
      </div>
    </div>
    <!-- The javascript libraries get included here (edited for brevity) -->
    <script src="./assets/components/jquery/dist/jquery.min.js"></script>
    <script src="./assets/components/json2/json2.js"></script>
    <script src="./assets/components/underscore/underscore.js"></script>
    <script src="./assets/components/backbone/backbone.js"></script>
    <script src="./assets/components/backbone.wreqr/lib/backbone.wreqr.js"></script>
    <script src="./assets/components/backbone.babysitter/lib/backbone.babysitter.js"></script>
    <script src="./assets/components/backbone.marionette/lib/core/backbone.marionette.js"></script>
    <script src="./assets/javascripts/vendor/spin.js"></script>
    <script src="./assets/javascripts/vendor/jquery.spin.js"></script>
    <!-- Foundation assets -->
    <!-- <script src="./assets/components/foundation/js/foundation.min.js"></script> -->

    <!-- Marionette templates -->
    <script type="text/template" id="contact-list-item">
      <td><%= id %></td>
      <td><%= firstName %></td>
      <td><%= lastName %></td>
      <td><%= phoneNumber %></td>
      <td>
        <div>
          <a href="#contacts/<%= id %>" class="button success radius js-show"><i class="fi-eye"></i>&nbsp;Show</a>
          <a href="#contacts/<%= id %>/edit" class="button success radius js-edit"><i class="fi-pencil"></i>&nbsp;Edit</a>
          <a href="#" class="button alert radius js-delete"><i class="fi-x"></i>&nbsp;Delete</a>
        <div>
      </td>
    </script>

    <script type="text/template" id="contact-list">
      <thead>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>Actions</th>
      </thead>
      <tbody></tbody>
    </script>

    <script type="text/template" id="contact-show">
      <h1><%= firstName %> <%= lastName %></h1>
      <p><strong>Phone number:</strong> <%= phoneNumber %></p>
      <p>
        <a href="#contacts" class="button tiny radius js-all"><i class="fi-list"></i>&nbsp;Show all contacts</a>
        <a href="#contacts/<%= id %>/edit" class="button success tiny radius js-edit"><i class="fi-pencil"></i>&nbsp;Edit contact</a>
      </p>
    </script>

    <script type="text/template" id="missing-contact">
      <div data-alert class="alert-box warning radius">
        Sorry. There is no such contact.
      </div>
      <p><a href="#contacts" class="button tiny radius js-all"><i class="fi-list"></i> Show all contacts</a></p>
    </script>

    <script type="text/template" id="loading">
      <div data-alert class="alert-box info radius">
        <div id="spinner"></div><strong><%= title %></strong> <%= message %>
      </div>
    </script>

    <script type="text/template" id="contact-form">
      <h1>Edit <%= firstName %> <%= lastName %></h1>
      <form>
        <div>
          <label for="contact-firstName">First name:
            <input id="contact-firstName" type="text"
            value="<%= firstName %>" name="firstName" />
          </label>
        </div>
        <div>
          <label for="contact-lastName">Last name:</label>
          <input id="contact-lastName" type="text"
          value="<%= lastName %>" name="lastName" />
        </div>
        <div>
          <label for="contact-phoneNumber">Phone:</label>
          <input id="contact-phoneNumber" type="text"
          value="<%= phoneNumber %>" name="phoneNumber" />
        </div>
        <button class="btn js-submit">Save</button>
      </form>
    </script>

    <!-- Application assets -->
    <script src="./assets/javascripts/app.js"></script>
    <script src="./assets/javascripts/apps/config/storage/backbone.localStorage.js"></script>
    <script src="./assets/javascripts/apps/config/storage/localstorage.js"></script>
    <script src="./assets/javascripts/apps/contacts/contacts_app.js"></script>
    <script src="./assets/javascripts/entities/contact.js"></script>
    <script src="./assets/javascripts/common/views.js"></script>
    <script src="./assets/javascripts/apps/contacts/list/list_template.js"></script>
    <script src="./assets/javascripts/apps/contacts/show/show_view.js"></script>
    <script src="./assets/javascripts/apps/contacts/list/list_view.js"></script>
    <script src="./assets/javascripts/apps/contacts/show/show_controller.js"></script>
    <script src="./assets/javascripts/apps/contacts/list/list_controller.js"></script>
    <script src="./assets/javascripts/apps/contacts/edit/edit_controller.js"></script>
    <script src="./assets/javascripts/apps/contacts/edit/edit_view.js"></script>

    <script type="text/javascript">
      ContactManager.start();
    </script>
  </body>
</html>