<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marionette + Foundation</title>
    <link rel="stylesheet" href="./assets/stylesheets/marionette.css" />
    <script src="./assets/components/modernizr/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Marionette + Foundation Learning</h1>
      </div>
    </div>
    <div class="row">
      <div id="main-region"class="container">
        <p>You'll notice that it gets replaced by our app as soon as we start it.</p>
      </div>
    </div>

    <!-- Shared assets -->
    <script src="./assets/components/jquery/dist/jquery.min.js"></script>
    <!-- Marionette (learning?) assets -->
    <script src="./assets/components/json2/json2.js"></script>
    <script src="./assets/components/underscore/underscore.js"></script>
    <script src="./assets/components/backbone/backbone.js"></script>
    <script src="./assets/components/backbone.wreqr/lib/backbone.wreqr.js"></script>
    <script src="./assets/components/backbone.babysitter/lib/backbone.babysitter.js"></script>

    <!-- <script src="./assets/components/backbone.marionette/lib/core/backbone.marionette.js"></script> -->
    <script src="./assets/components/backbone.marionette/lib/core/backbone.marionette.js"></script>

    <!-- Foundation assets -->
    <!-- <script src="./assets/components/foundation/js/foundation.min.js"></script>  -->
    <!-- Application assets -->
    <!-- <script src="./assets/javascripts/marionette.js"></script> -->

    <!-- Marionette templates -->
    <script type="text/template" id="contact-list-item">
      <li><%= firstName %> <%= lastName %></li>
    </script>

    <!-- The javascript libraries get included here (edited for brevity) -->
    <script type="text/javascript">
      var ContactManager = new Marionette.Application();

      ContactManager.addRegions({
        mainRegion: "#main-region"
      });

      ContactManager.Contact = Backbone.Model.extend({});

      ContactManager.ContactCollection = Backbone.Collection.extend({
        model: ContactManager.Contact
      });

      ContactManager.ContactItemView = Marionette.ItemView.extend({
        tagName: "li",
        template: "#contact-list-item"
      });

      ContactManager.ContactsView = Marionette.CollectionView.extend({
        tagName: "ul",
        itemView: ContactManager.ContactItemView
      });

      ContactManager.on("initialize:after", function(){
        var contacts = new ContactManager.ContactCollection([
          {
            firstName: "Bob",
            lastName: "Brigham",
            phoneNumber: "555-0163"
          },
          {
            firstName: "Alice",
            lastName: "Arten",
            phoneNumber: "555-0184"
          },
          {
            firstName: "Charlie",
            lastName: "Campbell",
            phoneNumber: "555-0129"
          }
        ]);

        var contactsView = new ContactManager.ContactsView({
          collection: contacts
        });

        ContactManager.mainRegion.show(contactsView);
      });

      ContactManager.start();
    </script>
  </body>
</html>
