@import "settings";
@import "marionette_imports";
@import "foundation-icons";

@mixin table-style($bg:$primary-color) {
  // We control which background color comes through
  @if $bg {
    // This find the lightness percentage of the background color.
    $bg-lightness: lightness($bg);
    background-color: $bg;
    // We control the text color for you based on the background color.
    @if $bg-lightness < 70% { color: $label-font-color-alt; }
    @else { color: $label-font-color; }
  }
}

table
  { border-collapse: collapse;
    width: 100%;
  }
  tbody
    tr.alert
      td
        { @include table-style(lighten($alert-color, 40%)); }
  tbody
    tr
      td
        a.button
          {
          margin-bottom: 0px;
          padding-top: $button-font-tny * 0.5;
          padding-#{$opposite-direction}: $button-font-tny * 0.75;
          padding-bottom: $button-font-tny * 0.5 + rem-calc(0.5);
          padding-#{$default-float}: $button-font-tny * 0.75;
          }